data:
  data_root: data/mvtec_ad
  dataset_name: mvtec_ad_all
  category: all
  train_batch_size: 8 # per GPU batch size for training
  test_batch_size: 32 # per GPU batch size for evaluation
  num_workers: 8
  pin_memory: True
  persistent_workers: False
  img_size: 224
  transform_type: imagenet
opt:
  epochs: 5
  name: adamw
  ipe_scale: 1.0
  clip_grad: 1.0
  wd_start: 0.0000
  wd_end: 0.0000
  lr_start: 0.000001
  lr_warmup: 0.00005
  lr_warmup_epochs: 40
  lr_end: 0.000005
  fix_lr_thres: -1
  fix_wd_thres: -1
  fix_lr_strategy: const
  fix_wd_strategy: const
  all_gather: False
  use_bfloat16: True
  bias_decay: False
  norm_decay: False
  global_seed: 0
flow_matching:
  scheduler: 
    name: affine_prob
  solver:
    name: euler
model:
  model_name: dit
  patch_size: 1
  cond_channels: 384
  hidden_size: 384
  depth: 4
  num_heads: 8
  mlp_ratio: 4.0
  class_dropout_prob: 0.0
  use_class_labels: False
  learn_sigma: False
resume:
  resume_path: null
logging:
  log_dir: logs/test/
  log_step_freq: 100
  use_tensorboard: True
  use_csv: True
  log_stdout: True
  ckpt:
    save_latest: True
    ckpt_epoch_freq: 25
    save_best: True
  wandb: 
    use_wandb: True
    project_name: VFAD
    entity: shuns71
    run_name: test
  eval:
    eval_epoch_freq: 1
    steps: 1
    solver_name: euler
    img_score_agg: diff+sum
    metrics: 
      - img_auroc
      - img_ap
      - img_f1max
      - px_auroc
      - px_ap
      - px_f1max

    






  