meta: 
  name: vfad
  global_seed: 0
  use_bfloat16: True
data:
  data_root: data/mvtec_ad
  dataset_name: mvtec_ad 
  category: metal_nut
  test_batch_size: 32 # per GPU batch size for evaluation
  num_workers: 8
  pin_memory: True
  persistent_workers: False
  img_size: 256
  transform_type: imagenet
flow_matching:
  scheduler: 
    name: affine_prob
    t_scheduler_train: linear
    t_scheduler_infer: linear
    t_mu: -0.8
    t_sigma: 0.8
  solver:
    name: euler
  pred_type: data # [data, noise, velocity]
  loss_type: velocity # [data, noise, velocity]
  train_steps: -1
model:
  backbone: 
    model_name: pixel
    normalization: null
  model_name: dit
  patch_size: 16
  cond_channels: 768
  hidden_size: 768
  depth: 12
  num_heads: 8
  mlp_ratio: 4.0
  class_dropout_prob: 0.0
  use_class_labels: False
  learn_sigma: False
  t_scale: 1000
resume:
  resume_path: ./logs/ad_sc_dit_enet_121612_px/checkpoints/ckpt_best.pth
logging:
  log_dir: logs/ad_sc_dit_enet_121612_px/
  eval:
    eval_strategy: inversion
    exact_divergence: False
    steps: 3
    # for density estimation if eval_strategy is 'density'
    hutchinson_samples: 10
    hutchinson_batch_size: 10
    # for reconstruction if eval_strategy is 'recon'
    inv_steps: 100
    recon_steps: 100  # for reconstruction, we use inv/recon steps instead of 'steps'
    inv_stop_time: 0.4
    solver_name: euler
    img_score_agg: diff+sum
    metrics: 
      - img_auroc
      - img_ap
      - img_f1max
      - px_auroc
      - px_ap
      - px_f1max
      - px_aupro
    save_dir: ./vis/ad_dit_px/  # Directory to save anomaly maps
    save_anomaps: True  # Whether to save anomaly maps

    






  