meta: 
  name: vfad
data:
  data_root: data/mvtec_ad
  dataset_name: mvtec_ad_all
  category: all
  train_batch_size: 8 # per GPU batch size for training
  test_batch_size: 8 # per GPU batch size for evaluation
  num_workers: 8
  pin_memory: True
  persistent_workers: False
  img_size: 256
  transform_type: imagenet
opt:
  epochs: 300
  name: adamw
  ipe_scale: 1.0
  clip_grad: 1.0
  wd_start: 0.0000
  wd_end: 0.0000
  lr_start: 0.000001
  lr_warmup: 0.00005
  lr_warmup_epochs: 40
  lr_end: 0.000005
  fix_lr_thres: -1
  fix_wd_thres: -1
  fix_lr_strategy: const
  fix_wd_strategy: const
  all_gather: False
  use_bfloat16: True
  bias_decay: False
  norm_decay: False
  global_seed: 0
flow_matching:
  scheduler: 
    name: affine_prob
    t_scheduler_train: linear
    t_scheduler_infer: linear
    t_mu: -0.8
    t_sigma: 0.8
  solver:
    name: euler
  pred_type: velocity # [data, noise, velocity]
  loss_type: velocity # [data, noise, velocity]
  train_steps: -1
model:
  backbone: 
    model_name: efficientnet-b4
    pretrained: true
    outblocks:
      - 1
      - 5
      - 9
      - 21
    outstrides: 
      - 2
      - 4
      - 8
      - 16
    normalization: null
  model_name: dit
  patch_size: 1
  cond_channels: 768
  hidden_size: 2048
  depth: 16
  num_heads: 8
  mlp_ratio: 4.0
  class_dropout_prob: 0.0
  use_class_labels: True
  learn_sigma: False
  t_scale: 1000
resume:
  resume_path: null
logging:
  log_dir: logs/ad_mc_ditG_enet_121817/
  log_step_freq: 100
  use_tensorboard: True
  use_csv: True
  log_stdout: True
  ckpt:
    save_latest: False
    ckpt_epoch_freq: 500
    save_best: True
  wandb: 
    use_wandb: True
    project_name: VFAD
    entity: shuns71
    run_name: ad_mc_ditG_enet_121817
  eval:
    eval_epoch_freq: 25
    steps: 3
    solver_name: euler
    img_score_agg: diff+sum
    metrics: 
      - img_auroc
      - img_ap
      - img_f1max
      - px_auroc
      - px_ap
      - px_f1max
      - px_aupro
  vis:
    vis_epoch_freq: 500
    steps: 50
    solver_name: midpoint
    num_samples_per_class: 16
    denorm_type: imagenet

    






  